@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");

:root{
    --bg-adm: #f5f5f7;
    --bg-form: #f5f5f7;
    --bg-form_row: #ffffff;
    --bg-form_fieldset: #ffffff;
    --color-primary: #7166f0;
    --color-primary-shadow: #685dd8;
    --body-font: 'Poppins', sans-serif;
}

.adm{
    position: relative;
    background-color: var(--bg-adm);
    font-family: var(--body-font);
    transition: .5s;
}

.cli{
    position: relative;
    background-color: var(--bg-adm);
    font-family: var(--body-font);
    transition: .5s;
    height: 100vh;
}

main.container-fluid{
    background-color: var(--bg-adm);
    padding: 0;
    overflow-x: hidden;
}

.page-title{
    padding-top: 1.5rem;
    font-weight: 700;
    font-family: 'Rubik', sans-serif;
    color: rgba(104, 93, 216,.9);
    text-align: center;
}

.page-title h1,
.page-title h2{
    display: inline-block;
    font-size: 1.8rem;
    margin: 0 auto;
    padding-bottom: .5rem;
    border-bottom: 2px solid rgba(113, 102, 240, .9);
}

.frmMar,
.frmProd,
.frmEnd,
.frmCli{
    background-color: var(--bg-form);
    padding: 1.75rem 1.5rem;
    width: 100%;
    max-width: 850px;
}

.frmEnd{
    max-width: 475px !important;
}

.frmProd{
    max-width: 900px !important;
}

.frmMar{
    max-width: 600px !important;
}

.frmProd .form__fields > .row{
    margin-bottom: 10px;
}

.frmMar .row,
.frmProd > .row:not(:last-child),
.frmEnd .row:not(:last-child),
.frmCli .row:not(:last-child){
    background-color: var(--bg-form_row);
    border-radius: .25rem;
    box-shadow:  0 0 10px 0 rgba(80, 80, 80, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(80, 80, 80, 0.1);
}

.form__fields-container-edit,
.form__fields-container{
    position: relative;
    background-color: var(--bg-form_fieldset);
    padding: 0 2rem;
    margin: 1.5rem 0 2rem;
}

.form__fields-container-edit{
    margin: 2rem 0 !important;
}

.form__fields-container-personal{
    border-right: 1px solid #e6e3e3;
}

.form__title{
    font-weight: 400;
    text-align: center;
}

.form__input-group:not(:last-child){
    margin-bottom: 10px !important;
}

.form__label{
    font-size: .95rem;
    font-weight: 400;
    margin: 0;
    color: #343a40;
    padding-bottom: .25rem;
}

.form__label:not(#personal-telefone > .form__label):not(#address-complemento > .form__label):after{
    content: "*";
    margin-left: 2px;
    color: rgba(255, 0, 0, 0.7)
}

.form__input-container{
    position: relative;
    height: 2.65rem;
}

.form__input{
    position: absolute;
    height: 100%;
    border: 1px solid #dbdada;
    padding-top: .475rem !important; 
    padding-bottom: .475rem !important;
}

.form__input:focus{
    border-color: var(--color-primary-shadow);
    box-shadow: 0 0 0 0.2rem rgba(115, 103, 240, 25%);
}

.form__icon{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: text;
}

input ~ i.form__icon{
    right: calc(.375em + .1875rem);

}

select ~ i.form__icon{
    right: 1.35rem;
}

.form__icon > svg{
    width: calc(.75em + .375rem);
    height: calc(.75em + .375rem);
}

.form__icon-invalid{
    display: none;
    color:#dc3545;
}

.form__icon-valid{
    display: none;
    color: #28a745;
}

.form__input.is-invalid ~ .form__icon-invalid{
    display: block;
}

.form__input.is-valid ~ .form__icon-valid{
    display: block;
}

.is-invalid{
    background-image: none !important;
}

.is-valid{
    background-image: none !important;
    border: 1px solid #dadadb!important;
}

.is-valid:focus{
    border: 1px solid #28a745 !important;
}

span[class^="error-"]{
    display: none;
    font-weight: 400;
    color: #dc3545;
    font-size: smaller;
    letter-spacing: .25px;
}

span[class^="error-"].is-active{
    display: inline;
}

.form__link{
    display: inline;
    float: right;
}

.form__link-style{
    font-size: .9rem;
    font-weight: 400;
    color: var(--blue);
}

.form__link-style:visited{
    color: var(--blue);
}

.btn-sm{
    padding: 0.3rem .6rem !important;
}

.btn:focus,
.btn-principal:focus{
    box-shadow: none !important;
}

.btn-principal{
    color: #fff;
    background-color: var(--color-primary);
    border-color: var(--color-primary) ; 
}

.btn-principal:hover{
    color: #fff;
    background-color: var(--color-primary-shadow) ;
    border-color: var(--color-primary-shadow); 
}

.btn-principal-3d{
    color: #fff;
    background-color: var(--color-primary);
    border: 1px solid #5349c5;
    border-bottom: 4px solid #5349c5;  
}

.btn-principal-3d:hover{
    color: #fff;
    background-color: var(--color-primary-shadow) ;
    border: 1px solid #5349c5;
    border-bottom: 4px solid #5349c5;  
}

.load{
    display: none;
    position: absolute;
    top: calc(75% - 20px);
    right: calc(.375em + .1875rem);

    height: 20px;
    width: 20px;

    border: .2rem solid #e6e6e6;
    border-top-color: transparent;
    border-radius: 50%;
}

.is-rotating{
    animation: is-rotating .9s infinite linear;
}

.load.is-rotating{
    display: block;
}

@keyframes is-rotating{
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.tabela-container{
    max-width: 1100px;
    padding: 2rem;
    background-color: var(--bg-form_row);
    border-radius: .25rem;
    box-shadow:  0 0 10px 0 rgba(80, 80, 80, 0.1);
    -webkit-box-shadow: 0 0 10px rgba(80, 80, 80, 0.1);
}

.tabela{
    font: 90%/1.45em "Helvetica Neue",HelveticaNeue,Helvetica,Arial,sans-serif !important;
}

td .acao{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

.swal2-styled:focus{
    box-shadow: none !important;
}

.content{
    width: 100%;
    max-width: 1000px;
}

.navbar-dark{
    background-color: #070333;
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link > svg{
    margin-right:5px;
}

.info-box{
    border-top: none;
    border-bottom: none;
    border-left: 2px solid;
    border-right: 2px solid;
    border-radius: .5rem;
    box-shadow:  0 0 10px 0 rgba(80, 80, 80, 0.2);
    -webkit-box-shadow: 0 0 10px rgba(80, 80, 80, 0.2);
}

.info-box.orange{
    color:var(--orange);
    border-color:var(--orange);
}

.info-box.blue{
    color:#428bca;
    border-color:#428bca;
}

.info-box.purple{
    color:var(--purple);
    border-color:var(--purple);
}

.logo{
    font-family: 'Rubik', sans-serif !important;
    text-align: center;
    line-height: 0.9;
    margin: 0 !important;
}

.logo>span{
    color: var(--color-primary)
}

.navbar-dark .navbar-nav .nav-link {
    color: var(--white) !important;
}

.card-title{
    font-size: 1.5rem !important;
}

.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: .5rem !important;
    padding-left: .5rem !important;
}

.nav-link{
    line-height: 1.6;
}

.active{
    background-color: var(--color-primary-shadow);
    border-radius: .25rem;
}

.header > .row:first-child{
    display: flex;
    justify-content: center;
    align-items: center;
}

.header > .row:first-child > .col-12:last-child{
    display: flex;
    align-items: center;
}

.carrinho{
    margin-left: 5px;
    cursor: pointer;
    height: 35px;
    width: 35px;
}

.icon{
    position: relative;
    z-index: 2;
}

.icon .icon-carrinho{
    height: 35px;
    width: 35px;
    color:var(--color-primary-shadow);
}

.qtd-itens span{
    position: absolute;
    top: -3px;
    bottom: 0;
    right: -7px;

    color: rgb(76, 8, 116);
    text-align: center;
    line-height: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 50%;
    font-weight: bold;
    font-size: .7rem;
    width: 15px;
    height: 15px;
}

.sombra-carrinho{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    height: 100%;
    width: 100%;

    z-index: 1;
    transition: .4s ease-in-out;
    background-color: rgba(0, 0, 0,.3);
}

.carrinho-interno{
    position: absolute;
    top: calc(100% + -7px);
    right: 10px;

    z-index: 2;
    padding: 0 15px;
    max-height: 500px;
    width: 350px;
    
    background-color: white;
    box-shadow:  0 5px 10px 0 rgba(0, 0, 0, 0.19);
}

.carrinho-interno::before {
    content: '';
    display: block;
    position: absolute;
    top: -5px;
    right: 40px;

    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 5px solid white;
}

.carrinho-header{
    font-weight: 400;
    font-size: 18px;
    text-transform: uppercase;
    color: rgb(76, 8, 116);

    background-color: white;
    margin: 15px 0;
}

.carrinho-vazio{
    font-size: 15px;
    font-weight: 400;
    margin: 10px 0;
}

.carrinho-vazio a{
    text-decoration: none;
}

.carrinho-vazio a:hover{
    text-decoration: underline;
}

.carrinho-vazio a:visited{
    color: #0000ff;
}

.lista {
    max-height: 350px;
    overflow-y: auto;
}

.lista::-webkit-scrollbar{
    width: 5px;
    margin-left: 10px;
}
.lista::-webkit-scrollbar-thumb{
    background-color: rgb(76, 8, 116);
}

.lista::-webkit-scrollbar-track{
    background-color: #e4e3e3;
}

.lista .item{
    display: flex;
    align-items: flex-start;
    flex-direction: row;

    margin: 10px 10px 0 10px;
    border-bottom: 1px solid #ccc;
}

.item-image{
    margin-right: 10px;
    padding: 10px;
    height: 70px;
    width: 70px;
}

.item-image img{
    max-width: 100%;
}

.item-nome{
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 5px;
    height: 34px;
}

.item-quantidade{
    font-size: 14px;
}

.item-preco{
    font-size: 15px;
    font-weight: 500;
    color: rgb(26, 26, 26);
    margin: 5px 0 10px 0;
}

.carrinho-footer{
    margin: 15px 0;
}

.carrinho-footer .icon-btn-cart{
    margin: 0 10px;
    color:white;
}

.item-remover{
    display: block;
    margin-left: auto;
}

.item-remover i{
    color: #4c0874;
}

.hidden{
    display: none;
}

@media screen and (max-width: 992px){
    
    .logo{
        margin-bottom: 5px !important;
    }
}

@media screen and (max-width: 767px){
    
    html{
        font-size: .95rem;
    }

    .card-title{
        font-size: 1.4rem !important;
    }

    .page-title h1{
        font-size: 1.75rem;
    }

    .frmMar,
    .frmProd,
    .frmEnd,
    .frmCli{
        max-width: 475px;
    }
    
    .frmProd .form__fields > .row > [class^="col"]:not(:last-child){
        margin-bottom: 10px;
    }
    
    .form__fields-container-personal{
        border-right: none;
    }
    
    .form__fields-container-address{
        margin-top: 0;
    }
}

@media screen and (max-width: 576px){
    
    html{
        font-size: .9rem;
    }

    .page-title h1{
        font-size: 1.35rem;
    }

    .frmCli{
        max-width: 400px;
    }

    .frmMar,
    .frmProd,
    .frmEnd > .row:not(:last-child),
    .frmCli > .row:not(:last-child){
        box-shadow: none;
    }

    .frmProd .form__fields .row:nth-child(1) [class^="col"]:nth-child(2),
    .frmProd .form__fields .row:nth-child(1) [class^="col"]:nth-child(3){
        margin-bottom: 0;
    }
    
    .frmCli > .row:nth-child(1){
        border-radius: .25rem .25rem 0 0;
    }
    
    .frmCli > .row:nth-child(2){
        border-radius: 0 0 .25rem .25rem;
    }

    .form__fields-container:not(.form__fields-container-personal){
        margin-top: 0;
    }

    .form__title{
        font-size: 1.3rem;
    }

    .form__input-group:not(:last-child:not(#address-cidade):not(#access-email-confirm)){
        margin-bottom: 10px;
    }

    .is-valid{
        border: 1px solid #28a745 !important;
    }

    .header > .row:first-child > .col-12:last-child{
        justify-content: flex-end;
        margin-top: .5rem;
    }
}

@media screen and (max-width: 270px){
    .page-title h1,
    .page-title h2{
        border: none;
    }
}